body{
    background-color: rgb(203, 203, 243);
}
.navbarMargin1{
    margin-left: 50px;
    font-size: 20px;
}
.navbarMargin2{
    margin-right: 50px;
}
.backgroundImage{
    background: url(./img/bg-masthead.jpg);
    background-size: 100% 100%;
    height: 600px;
}
.fontSizeJumbotron{
    font-size: 55px;
}
.input{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border: none;
}
.secondPart{
    height: 500px;
    display: flex;
    padding-top: 160px;
}
.elementsOfSecondPart{
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}
i{
    font-size: 60px;
    color: rgb(59, 128, 255);
}
.fa-solid, .fa-regular{
    margin-bottom: 15px;
}

.elementsOfSecondPart > p{
    font-size: 17px;
    text-align: center;
    color: rgb(153, 151, 151);
}
.thirdPart{
    background-color: white;
}
.thirdPartImg{
    margin-left: -15px;

}
.fourthPartImg{
    margin-left: 10px;
    margin-bottom: -18px;
}
.imgFromParent{
    margin-right: -27px;
}
.imgFromParent2{
    margin-left: -27px;
}
.thirdRow{
    margin-top: 17px;
}
.thirdPartText{
    padding: 130px 100px 100px 100px;
    text-align: justify;
}
.thirdPartText > p{
    color:rgb(153, 151, 151);
}
.FourthPartImage{
    width: 260px;
    height:260px;
    margin: 100px 100px 100px 100px;
}

.imgg{
    border-radius: 50%;
	height: 230px;
    width: 230px;
}
.fourthPart > h3 {
    text-align: center;
    margin-top: 80px;
    margin-bottom: -60px;
}
.FourthPartImage > h5{
    text-align: center;
    margin-top: 10px;
}
.FourthPartImage > p{
    text-align: center;
    color: rgb(153, 151, 151);
}
.fourthPart{
    height: 600px;
}
.backgroundImage2{
    background: url(./img/bg-masthead.jpg);
    background-size: 100% 100%;
    height: 400px;
}
.fontSizeJumbotron2{
    font-size: 40px;
}
.footerSpan > span{
    color: rgb(59, 128, 255);
    font-size: 18px;
    font-weight: bold;
    padding: 30px;
}
.footerSpan{
    margin-top: 40px;
    margin-left: -80px;
    margin-right: 80px;
}
.footer{
    margin-right: -100px;
}
.fab{
    font-size: 25px !important;
}
.socialMedia{
    margin-top: 30px;
}
.fa-instagram, .fa-twitter, .fa-facebook-f{
    margin-right: -200px;
}
.copyright{
    margin-left: -45px;
}